form#movie-database {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: auto auto;
}

#search {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

#filters {
    display: flex;
    flex-direction: column;
}

#filters input[type=number] {
    width: 3rem;
}

#filters h4 {
    margin-bottom: 0.2rem;
}